body,a{
  color: black;
}
section.header {
  float: left;
  width: 100%;
  position: relative;
  line-height: 60px;
}
section.secound {
  background-color: #a6e3a6a8;
  float: left;
  width: 100%;
}
section.footer {
  background-color: black;
  float: left;
  width: 100%;
  color: #fff;
}
.login-botton{
  background:#BEF9A5;color: #192117;padding: 10px;/*border-radius: 20px;*/
}
section.footer .top {
  margin-bottom: 30px;
  margin-top: 30px;
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
}






/*slider*/
section.slider .carousel-inner {
  height: 560px;
}
section.slider button {
  background: #BEFCA4;
  color: #000;
  padding: 9px 30px;
  border: 0;
}


section.slider img {vertical-align: middle;}
section.slider .carousel-caption {
  float: left;
  left: 50px;
  top: 150px;
  text-align: left;
}
/* Slideshow container */
/*.slideshow {
max-width: 1000px;
position: relative;
margin: auto;
}*/

/* Next & previous buttons */
section.slider .prev, .next {
cursor: pointer;
position: absolute;
/*top: 50%;*/
width: auto;
padding: 16px;
margin-top: -22px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
display: none;
}

/* Position the "next button" to the right */
section.slider .next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
section.slider .prev:hover,section.slider .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Caption text */
section.slider .text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
section.slider .numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
section.slider .dot {
  display: none;
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

section.slider .active,section.slider .dot:hover {
background-color: #717171;
}

/* Fading animation */
section.slider .fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
section.slider .prev, section.slider .next,section.slider .text {font-size: 11px}
}

/*slider section css end*/





section.entertainment button ,section.nac-ballot button,section.nac-network button ,section.nac-live button
,section.nac-invest button  {
  background: #BEF9A5;
  color: #192117;
  border: 0;
  padding: 5px 15px;
  margin-top: 20px;
}
/*Netork section css start*/
section.network {
  /* background-image: url(./home2/network-bg.png); */
  background-position: center;
  background-size: 100% 100%;
  float: left;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}
section.network a {
  color: #009904;
}

/*Netork section css end*/

/*Nac network section css start*/
section.nac-network {
  /* background-image: url(.home2/nac_network/nac_network_bg.png); */
  background-position: center;
  background-size: 100% 100%;
  float: left;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}
section.nac-network {
  color: #fff;
}

/*Nac network section css end*/

/*Nac live section css start*/
section.nac-live {

  background-position: center;
  background-size: 100% 100%;
  float: left;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}
section.nac-live {
  color: #fff;
}

/*Nac live section css end*/

/*Nac invest section css start*/
section.nac-invest {
  /* background-image: url(.home2/nac_invest/nac_invest_bg.png); */
  background-position: center;
  background-size: 100% 100%;
  float: left;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}
section.nac-invest {
  color: #fff;
}

/*Nac invest section css end*/

/*Nac ballot section css start*/
section.nac-ballot {
  /* background-image: url(./home2/nac_ballot/nac_ballot_bg.png); */
  background-position: center;
  background-size: 100% 100%;
  float: left;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}
section.nac-ballot {
  color: #fff;
}

/*Nac Ballot section css end*/


/*Entertainment css start*/
section.entertainment {
  margin-bottom: 50px;
  margin-top: 50px;
  float: left;
  width: 100%;
}
section.entertainment .title,section.entertainment .botton {
  text-align: center;
}
/*Entertainment css end*/